body {
  font-family: cursive;
  background-color: #62259d;
  color: white;
}
p {
  animation-name: wiggle;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position: relative;
  margin-top: 0px;
}
h1 {
  font-family: cursive;
  animation-duration: 3s;
  animation-name: slidein;
}
#lion {
  width: 50vw;
  margin: auto;
}

@keyframes wiggle {
  50% { margin-top: -30px; }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
