body {
  font-family: cursive;
  background-color: #62259d;
  color: white;
}
div {
}
h1, h3 {
  text-align: center;
  animation: fadeIn 3s
}

#wiggler {
  animation: wiggle 1s ease-in-out 8s infinite;
  height: 1px;
  margin-bottom: 0px;
}
p {
  animation: slidein 6s ease-in-out;
  position: absolute;
  bottom: 0;
}
#lion {
  width: 50vw;
  animation: lion 6s ease-in-out 8s infinite;
}
@keyframes lion {
  from {
    margin-left: 0%;
  }
  40% {
    margin-left: 50vw;
    transform: rotate(0deg);
  }
  50% {
    margin-left: 50vw;
    transform: rotateY(180deg);
  }
  90% {
    margin-left: 0;
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(0deg);
  }
}
@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}
@keyframes wiggle {
  50% { margin-bottom: 50px; }
}
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  50% {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
@keyframes spin {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
